.card-holder {
    margin-top: 10px;
    border-radius: 25px;
    border: 2px solid #616d67;
    padding: 20px;
    background-color: rgb(236, 228, 217);
    font-family: 'Times New Roman', serif;
  }
