.icon-img-select{
    width: 60px;
    height: 60px;
}
.sel-option{
    width: 100px;
    height: 50px;
}
/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    border: 2px solid rgb(58, 56, 56);
    background-color: rgb(134, 134, 134);
    border-radius: 10px;
  }