<nav class="navbar navbar-expand-lg">
  <div class="div">
    <a class="navbar-brand" [routerLink]="['/spending']"  style="margin-left: 5%;">Spending Tracker</a>
  </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class=" navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/spending">Spending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transactions">Transactions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/categories">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/graphs">Graphs</a>
        </li>
      </ul>
    </div>
  </nav>