<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>{{pageTitle}}</h3>
        <form novalidate [formGroup]="transactionForm" (ngSubmit)="saveTransaction()">
            <div class="type-transaction-div">
                <input type="radio" class="btn-check" name="transactionType" id="success-outlined" autocomplete="off"
                    value="0" formControlName="transactionType">
                <label class="btn btn-outline-success" for="success-outlined" style="width: 98%;">Income</label>
            </div>
            <div class="type-transaction-div">
                <input type="radio" class="btn-check" name="transactionType" id="danger-outlined" autocomplete="off"
                    value="1" formControlName="transactionType" [checked]="true">
                <label class="btn btn-outline-danger" for="danger-outlined" style="width: 98%;">Expense</label>
            </div>

            <div class="form-group">
                <label for="transactionDate">Date:</label>
                <input class="form-control" id="transactionDate" type="date" formControlName="transactionDate"
                    placeholder="Date...">
            </div>

            <div class="form-group">
                <label for="cateogryId">Category:</label>
                <select class="form-select" formControlName="categoryId">
                    <option class="category-option" *ngFor="let category of categories" value="{{category.id}}">
                        {{category.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="transactionAmount">Amount:</label>
                <input class="form-control" id="transactionAmount" type="text" formControlName="transactionAmount"
                    placeholder="Amount">
            </div>

            <div class="form-group">
                <label for="transactionNote">Note:</label>
                <input class="form-control" id="transactionNote" type="text" formControlName="transactionNote"
                    placeholder="No Note Entered">
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-danger mr-3" style="width:80px">
                        Save
                    </button>
                    <a class="btn btn-outline-primary m-3" style="width:80px" (click)="onCancel()">
                        Cancel
                    </a>
                </div>
            </div>



        </form>


    </div>



</div>