<div class="row mt-2">
  <div class="heading-wrapper col-6 ">
    <h2 class="heading-text">Transactions</h2>
  </div>
  <div class="add-btn-wrapper col-6">
    <a class="btn btn-success btn-lg" [routerLink]="['/transactions','add']">Add new Transaction</a>
  </div>
</div>

<div class="row saldo">
  <div class="col-5 offset-1 saldo-income">
    <div class="total-income">${{income}}</div>
  </div>
  <div class="col-5 saldo-expense">
    <div class="total-expense">${{expense}}</div>
  </div>
</div>

<ul class="category-list">
  <li *ngFor="let transaction of transactions" class="mt-2">
    <div class="card-holder col-12">
      <div class="row g-0 list-row">
        <div class="col-lg-2 mb-2 mt-2 ">
          <img [src]="transaction.category?.icon?.iconUrl" class="thumbnail-list" alt="...">
        </div>
        <div *ngIf="transaction?.note" class="col-lg-3 title-wrapper">
          <h5 class="card-title">{{transaction?.note}}</h5>
        </div>
        <div *ngIf="!transaction?.note" class="col-lg-3 title-wrapper">
          <h5 class="card-title">{{transaction?.category?.name}}</h5>
        </div>

        <div class="col-lg-2 title-wrapper">
          <h5 class="card-title">{{transaction?.date | date}}</h5>
        </div>
        <div class="col-lg-2 title-wrapper">
          <h5 [ngClass]="{'income': transaction.type == 0, 'expense': transaction.type == 1}">${{transaction?.amount}}
          </h5>
        </div>

        <div class="col-lg-2 dugme mt-4 mb-2">
          <a [routerLink]="['/transactions',transaction.id,'edit']" class="btn btn-outline-secondary btn-wrapper btn-lg"
            style="width: 90px; height: 48px;"><i>Edit</i></a>
          <a (click)="deleteTransaction(transaction.id)" class="btn btn-danger btn-wrapper btn-lg" style="width: 90px; height: 48px; margin-left: 5px;">Delete</a>
        </div>
      </div>
    </div>
  </li>
</ul>